<h1>Edit <%= @passenger.name %></h1>
<%= form_with url:"/passengers/#{@passenger.id}", method: :patch, local: true do |form|%>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :age %>
<%= form.text_field :age %>
<%= form.radio_button :single, "True" %>
<%= form.label :single, "Passenger is single" %>
<%= form.radio_button :single, "False" %>
<%= form.label :single, "Passenger is not single" %>
<%= form.submit "Update Passenger" %>

<% end %>
