<h1>Passengers</h1>
<% @passengers.each do |passenger| %>
  <h3><%= passenger.name %></h3>
  <p>How old?: <%= passenger.age %></p>
  <p>Is flying solo? <%= passenger.single %></p>
  <p>created at: <%= passenger.created_at %></p>
  <p>updated at: <%= passenger.updated_at %></p>
  <p><%= link_to "Edit #{passenger.name}", "/passengers/#{passenger.id}/edit"  %></p>
  <hr>
<% end  %>
