<h1>Passenger Show Page</h1>
<h3><%= @passenger.name %></h3>
<p>Age: <%= @passenger.age %></p>
<p>Single? <%= @passenger.single %></p>
<p>created: <%= @passenger.created_at %></p>
<p>updated: <%= @passenger.updated_at %></p>
