<h1>Ride Show Page</h1>
<h3><%= @ride.name %></h3>
<p>Passengers: <%= @ride.seats %></p>
<p>Is the car full? <%= @ride.full %></p>
<p>created: <%= @ride.created_at %></p>
<p>updated: <%= @ride.updated_at %></p>
<p>Number of passengers: <%= @ride.passengers.count %></p>
