<!DOCTYPE html>
<html>
  <head>
    <title>RideShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Passengers", passengers_path %>
    <%= link_to "Rides", rides_path %>
    <%= yield %>
  </body>
</html>
